

<div class="q_download">
  <div class="previewImg">
      <span><img  src="<%=image%>"  /></span>
      <div class="q_preview">
          <i class="icon-search"></i>
          <span>preview</span>
      </div>
  </div>
  <div class="q_info">
      <a href="/showQuestion/<%=id%>" class='q_title'>
        <i class="icon-circle-arrow-right"></i>
      <%=title%>
      </a>
      <span class="q_upVote"><%=up_vote%><i class="icon-thumbs-up"></i></span>
      <div class="q_time timeago" title="<%=created_at%>"><%=created_at%></div>
      <div class="q_downloadButton">
        <img class='downloading_gif hide' src="/images/ajax-loader.gif" alt="" />
        <i class="icon-download-alt"></i>
        download
      </div>
  </div>
</div>
