<div id="showQuestion" >
  <div class="left">
     <div class="top">
      <div class="topheader showQuestionHeaders">
        <div class="currentQuestion">
           Current Question <i class=" icon-caret-right"></i><%=title%>
        </div>
        <div class="vote">
          <span class="up_vote hide">
            <i class="icon-thumbs-up "></i>
            like
          </span>
          <span class="down_vote hide">
            <i class="icon-thumbs-down"></i>
            unlike
          </span>
        </div>
        <div style='clear:both;'></div>
      </div>
      <div class="playerContainer"></div>
      <div class="questionInfo">
        <h4><%=title%> <i class="icon-info-sign"></i></h4>
        <span class="voteInfo">
          <span><%=up_vote%></span>
          <i class="icon-thumbs-up"></i>
        </span>
         <span class="timeago" title="<%=created_at%>"><%=created_at%></span>
        <p><%=description%></p>
      </div>
      <div class="control_panel">
        <div class="leaveResponse"><i class="icon-share-alt"></i>Record A Reponse</div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="bottom">
      <div class="responseContainer floating">
        <div class="showQuestionHeaders">
          <span>Responses And Comments</span>
        </div>
        <div id="comment_and_responses"></div>
      </div>
    
      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="right">
      <div class="moreQuestions floating">
          <div class="showQuestionHeaders">
            <span>More From <%=userName%></span>
          </div>
      </div>
      <div class="moreQuestions_type floating">
          <div class="showQuestionHeaders">
            <span>More <%=questionType%> Questions</span>
          </div>
      </div>
  </div>
  <div style="clear:both;"></div>
  
</div>
