

<div class="eachResponse_download">
  <div class="previewImg">
      <span><img  src="<%=image%>"  /></span>
      <div class="r_preview">
          <i class="icon-search"></i>
          <span>preview</span>
      </div>
  </div>
  <div class="r_info">
      <a href="/showQuestion/<%=question_id%>" class="r_showQuestionButton">
        <i class="icon-circle-arrow-right"></i>
         See Question
      </a>
      <!-- <span class="q_upVote">14<i class="icon-thumbs-up"></i></span> -->
      <div class="r_time timeago" title="<%=created_at%>"><%=created_at%></div>
      <a href='<%=downloadUrl%>' class="r_downloadButton">
        <i class="icon-download-alt"></i>
        download
      </a>

  </div>
</div>
